* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .C-carousel {
    background: #212121;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  
  .C-track {
    opacity: 1;
    transition: all 400ms ease;
    
    &--reinit {
      opacity: 0;
      transition: all 0ms linear;
    }
  }
  
  .C-slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: blueviolet no-repeat center / cover;
    background-blend-mode: overlay;
    font-family: arial;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    
    .C-carousel.initialized & {
      border-radius: 100vw;
      transform: scale(0.5) skew(-5deg) rotate(0);
      transition: all 700ms ease;
      
      &.active {
        transform: scale(1) skew(0) rotate(0);
        border-radius: 0;
      }
    }
   
   
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background-image: url(https://picsum.photos/1480/800?image=#{$i * 11});
      }
    }
   
  }
  
  .C-navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    
    .C-carousel--vertical & {
      bottom: auto;
      left: auto;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
    }
    
    @media (max-width: 480px) {
      .C-carousel--horizontal & {
        bottom: 50px;
      }
    } 
  }
  
  .C-navigation__dot {
    width: 12px;
    height: 12px;
    background: #fff;
    display: inline-block;
    margin: 4px;
    cursor: pointer;
    border-radius: 50%;
    
    &.active {
      background: lighten(blue, 10%);
      transform: scale(1.3);
    }
  }
  
  .C-carousel-navigation-button {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    border: 2px solid #fff;
    box-shadow: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    background: transparent;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 300mes ease;
    text-transform: capitalize;
    
    &:hover {
      background: #eee;
      color: blueviolet;
    }
    
    &:active {
      background: #fff;
    }
  
    &--next {
      left: auto;
      right: 10px;
    }
    
    .C-carousel--vertical & {
      bottom: 10px;
      top: auto;
      left: auto;
      right: 25px;
      transform: translateY(0);
      &--next {
        right: 20px;
      }
      
      &--prev {
        transform: translatex(calc(-100% - 5px));
      }
    }
   
  }
  
  .C-slide-title {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    transition: all 300ms ease;
    transition-delay: 500ms;
    
    @media (min-width: 480px) {
      font-size: 2rem;
    }
    
    @media (min-width: 768px) {
      font-size: 42px;
    }
    
    .active & {
        transform: translateY(0) translateX(0);
        opacity: 1;
     }
    
  }
  
  /* Pen controls */
  .pen-controls {
    position: fixed;
    bottom: 10px;
    left: 10px;
    
    button {
      border: 2px solid blueviolet;
      box-shadow: none;
      border-radius: 0;
      font-weight: bold;
      color: blueviolet;
      padding: 10px;
      background: #fff;
      cursor: pointer;
    }
   
  }



/* De Exe */


*{
    margin: 0;
    padding: 0;
    box_sizing: border-box;
}

.ejercicio-1{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.ejercicio-1 h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.numeros {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.ejercicio-1 p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.botones {
    width: 100%;
    background: #1f53c5;
    padding: 12px;
    border: none;
    margin: 16px 0;
    color: white;
    border: 1px solid #1f53c5;
    font-size: 16px;
}

.resultado {
    font-size: 22px;
    margin: 16px 0;
    text-align: center;
}
